body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: url('../universo_visual/fondo_login.png') no-repeat center center fixed;
  background-size: cover;
  color: white;
}
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  min-height: 100vh;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.5);
}

.info {
  max-width: 400px;
  text-align: left;
  color: white;
}

.info h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.info p {
  font-size: 18px;
  line-height: 1.6;
  color: #ddd;
}

.login-box {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 20px;
  width: 320px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  color: white;
}

.login-box label {
  display: block;
  margin-bottom: 5px;
  margin-top: 15px;
  font-weight: bold;
  color: white;
}

.login-box input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 14px;
}

.login-box button {
  width: 100%;
  background: linear-gradient(to right, #c471f5, #42a5f5);
  color: white;
  font-weight: bold;
  border: none;
  padding: 12px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.login-box button:hover {
  transform: scale(1.05);
}

.login-box .registro {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: white;
}

.login-box .registro a {
  color: #4CC9F0;
  text-decoration: none;
}

.error {
  background-color: rgba(255, 0, 0, 0.2);
  padding: 8px;
  color: #fff;
  border-radius: 6px;
  margin: 10px 0;
  text-align: center;
}



.caja-neon {
  background: rgba(255, 255, 255, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 25px rgba(79, 209, 197, 0.6),
              0 0 40px rgba(121, 66, 244, 0.4),
              0 0 80px rgba(242, 67, 140, 0.3);
  backdrop-filter: blur(15px);
  transition: all 0.4s ease;
}
